

<table><tbody>
{% for date, tt in transactions %}
	{% for t in tt.transactions %}
		<tr>
			<td><small>{{ t.date|human_date }}</small></td>
			<td class='center'>
				{% if t.sign == '+' %}
					<b class="success" title="Entrée dans la caisse">+</b>
				{% else %}
					<b class="error" title="Sortie de la caisse">-</b>
				{% endif %}
			</td>
			<td>
				{% if t.msgtype == 'contribute' %}
					contribution · {{ t.data.name }} · {{ t.data.amount|money }} €
				{% else %}
					{% if not t.data.confirm_date %}
						<span class="warning" title="en attente">?</span>
					{% endif %}
					{% if t.data.needid %}besoin{% else %}redistribution{% endif %}
					·
					{{ t.data.name_from }} → {{ t.data.amount|money }} € → {{ t.data.name_to }}
					{% if t.antedated %}
						<span class="icon" title="Antidaté au mois précédent pour comptabilité">↶</span>
						<small>(besoin du {{ t.data.needdate|human_date }})</small>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	{% if date|month_users|count > 0 %}
		<tr>
			<th></th>
			<th></th>
			<th>
				Entrées dans la mutu ({{ date|month_users|count }}) :
				<ul class="flex-list compact-comma">
					{% for u in date|month_users %}
						<li>{{ u.name }}</li>
					{% endfor %}
				</ul>
			</th>
		</tr>
	{% endif %}
	<tr>
		<th>{{ date|human_month }}</th>
		<th></th>
		<th>
			caisse début de mois : {{ tt.register|money }} €
			<small><a href="/export.php?m={{ date|minus1month|yyyy_mm }}">export</a></small>
		</th>
	</tr>
{% endfor %}
</tbody></table>
