

{% if payments %}
	<table><tbody>
		<tr>
			{% if show_date %}
				<th>Date</th>
			{% endif %}
			<th>Payeureuse</th><th>→</th><th>Bénéficiaire</th><th>€</th><th>Statut</th><th>Mode</th><th>Origine</th><th></th>
		</tr>
		{% for p in payments %}
			<tr class="{{ p.means }}">
				{% if show_date %}
					<td><small>{{ p.date|human_date }}</small></td>
					
				{% endif %}
				<td>{{ p.name_from }}</td>
				<td>→</td>
				<td>{{ p.name_to }}</td>
				<td>
					{{ p.amount|money }}
					{% if user.role == 'accountant' and not p.confirm_date %}
						<div class='payments-actions' style="display: inline-block">
							<details>
								<summary title='modifier montant'><span>↵</span></summary>
								<form method='post'>
									<input type='hidden' name='action' value='edit' />
									<input type='hidden' name='paymentid' value="{{ p.rowid }}" />
									<input type='number' name='amount' value="{{ p.amount|money }}" />
									<input type='submit' value='modifier' />
								</form>
							</details>
						</div>
					{% endif %}
				</td>
				<td class="center">
					{% if p.confirm_date %}
						<span class="success" title="confirmé">✓</span>
					{% else %}
						<span class="warning" title="en attente">?</span>
					{% endif %}
				</td>
				<td>{{ p.means|pay_means }}</td>
				<td>
					{% if p.needid %}
						besoin
						<small>({{ p.needdate|human_date }})</small>
					{% else %}
						redistribution
					{% endif %}
				</td>
				<td>
					<div class="payments-actions">
						{% if not p.confirm_date and p.name_to == user.name %}
							<details>
								<summary title='confirmer'><span>✓</span></summary>
								<form method='post'>
									<input type='hidden' name='action' value='confirm' />
									<input type='hidden' name='paymentid' value="{{ p.rowid }}" />
									{{ include('components/select-payment-means.html') }}
									<br/>
									<input type='submit' value='confirmer' />
								</form>
							</details>
						{% endif %}
						{% if user.role == 'accountant' and not p.confirm_date %}
							<details>
								<summary title='supprimer'><span>✗</span></summary>
								<form method='post'>
									<input type='hidden' name='action' value='delete' />
									<input type='hidden' name='paymentid' value="{{ p.rowid }}" />
									<input type='submit' value='supprimer' />
								</form>
							</details>
						{% endif %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody></table>
{% else %}
-
{% endif %}
