{% autoescape "html" %}

{% include('common/header.html') %}

<div class="title-viewmore">
	<h2>Mes cotisations</h2>
	{{ include('components/viewmore.html') }}
</div>

<table><tbody>
	<tr><th>Mois</th><th>Cotisation</th></tr>
	{% for c in user_contributions %}
		<tr>
			<td>{{ c.date|human_month }}</td>
			<td>{{ c.amount|money }}</td>
			<td>
				{% if c.editable %}
					<a href="/declare.php">modifier</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody></table>

{% if user_contrib.show_link %}
	<p><a href='/declare.php'>Déclarer ma cotisation en {{ user_contrib.for_month }}</a></p>
{% endif %}


<h2>Cotisations des membres en {{ curr_month }}</h2>

<table><tbody>
	<tr><th>Membre</th><th>Cotisation</th></tr>
	{% for c in month_contributions %}
		<tr><td>{{ c.name }}</td><td>{{ c.amount|money }}</td></tr>
	{% endfor %}
	<tr><td><b>total</b></td><td><b>{{ sum_contrib|money }}</b></td></tr>
</tbody></table>

<p>
	Manquent
</p>
<ul style="list-style: none;">
	{% for u in month_contributions_missing %}
		<li style="display: inline-block; margin-left: 0.5em;">{{ u }}</li>
	{% else %}
		<li>-</li>
	{% endfor %}
</ul>


{{ include('common/footer.html') }}

{% endautoescape %}
