{% autoescape "html" %}

{% include('common/header.html') %}


<h2>Membres</h2>

<ul class="flex-list">
	{% for u in users %}
		<li>
			{{ u.name }}
			{% if u.role == 'accountant' %}
				<sup title="comptable" style="color: #27ae60">€</sup>
			{% endif %}
			{% if u.pronoun %}
				({{ u.pronoun }})
			{% endif %}
		</li>
	{% endfor %}
	{% if user.role == 'accountant' %}
		<li>
			<a href="/user.php?action=create">+</a>
		</li>
	{% endif %}
</ul>


{% include('components/registers.html') %}


<div class="title-viewmore">
	<h2>Historique</h2>
	{{ include('components/viewmore.html') }}
</div>

{% include('components/history.html') %}


{% include('common/footer.html') %}

{% endautoescape %}
