{% autoescape "html" %}

{% include('common/header.html') %}


<h2>Besoins ponctuels</h2>

<form method="post">
	<input type="hidden" name="action" value="ask" />
	<label>
		J'ai besoin de
		<input type="number" name="amount" placeholder="X €" />
	</label>
	<input type="submit" value="Demander" />
</form>


<h2>Besoins exprimés</h2>

{% for n in needs %}
	<div class="need {{ n.fulfilled ? 'fulfilled' : ''}} {{ n.confirmed ? 'confirmed' : '' }}">
		<div style="display: flex; margin-top: 1em">
			<small>{{ n.date|human_date }}</small>
			{{ n.name }}
			a besoin de
			{{ n.amount|money }} €
			{% if user.role == 'accountant' and n.nb_payments == 0 %}
				<div class="payments-actions">
					<details>
						<summary title='modifier montant'><span>↵</span></summary>
						<form method='post'>
							<input type='hidden' name='action' value='edit_need' />
							<input type='hidden' name='needid' value="{{ n.needid }}" />
							<input type='number' name='amount' value="{{ n.amount|money }}" />
							<input type='submit' value='modifier' />
						</form>
					</details>
				</div>
			{% endif %}
		</div>
		{{ include('components/payments.html', {payments: n.payments}) }}
		<details>
			<summary>Créer un paiement pour ce besoin</summary>
			{{ include('components/create-payment-form.html', {reason: 'need', needid: n.needid}) }}
			{% if payments_redistribution|count == 0 %}
				<p class="info">
					Les redistributions n'ont pas encore débuté en {{ curr_month }}.<br/>
					Ce besoin sera comptabilisé avant redistribution, sur le mois précédent ({{ last_month }}).
				</p>
			{% else %}
				<p class="info">
					Les redistributions ont déjà été établies en {{ curr_month }}.<br/>
					Ce besoin sera comptabilisé ce mois-ci, après redistribution.
				</p>
			{% endif %}
		</details>
	</div>
{% else %}
	<p>aucun besoin exprimé</p>
{% endfor %}


{{ include('components/registers.html') }}


{{ include('common/footer.html') }}

{% endautoescape %}
