{% autoescape "html" %}

{% include('common/header.html') %}


<h2>Équilibres cotiz/redistributions en {{ page_month }}</h2>

{% if needs|count > 0 and payments_redistribution|count == 0 and user.role == 'accountant' %}
	<p class="warning">
		Un besoin est <a href="/needs.php">en attente</a>.<br/>
		Validez-le maintenant si vous voulez qu'il soit comptabilisé avant les redistributions.
	</p>
{% endif %}

{% if equilibrium %}
	<table><tbody>
		<tr>
			<th>Membre</th>
			<th>Opération</th>
			<th class="center">€</th>
			<th class="center">Versera</th>
			<th class="center">Recevra</th>
			<th class="center">Équilibre</th>
			<th class="center">Caisse</th>
		</tr>
		{% for e in equilibrium %}
			<tr>
				<td>{{ e.name }}</td>
				<td>
					{% if e.needs == 0 %}
						équilibre
					{% elseif e.needs > 0 %}
						doit recevoir
					{% else %}
						doit verser
					{% endif %}
				</td>
				<td class="center">
					{{ e.needs|money_abs }}
				</td>
				<td class="center">
					{% apply spaceless %}
						{% for p in e.payments.pay_redistr %}
							<span class="gives_gets">{{p|money}}</span>
						{% endfor %}
					{% endapply %}
				</td>
				<td class="center">
					{% apply spaceless %}
						{% for p in e.payments.receive %}
							<span class="gives_gets">{{p|money}}</span>
						{% endfor %}
					{% endapply %}
				</td>
				<td class="center">
					{{ e.equil|money }}
				</td>
				<td class="center">
					{{ e.register_no_needs|money }}
				</td>
			</tr>
			<tr class="details">
				<td colspan="7">
					<details class="info">
						<summary>détails</summary>
						<div style="display: flex; flex-wrap: wrap;">
							<table class="center bordered"><tbody>
								<tr>
									<td>Cotis.</td>
									<td>Cotis. moyenne</td>
									<td>Écart de cotis.</td>
								</tr>
								<tr>
									<td>{{ e.contrib|money }} €</td>
									<td>{{ avg_contrib|money }} €</td>
									<td><b>{{ e.diff_avg_contrib|money }} €</b></td>
								</tr>
							</tbody></table>
							<table class="center bordered"><tbody>
								<tr>
									<td>Total écarts</td>
									<td>Ratio <small>({{ e.diff_avg_contrib|money }} / {{ e.total_diff_contrib|money }})</small></td>
								</tr>
								<tr>
									<td>{{ e.total_diff_contrib|money }} €</td>
									<td><b>{{ (e.ratio_diff_contrib*100)|money2 }} %</b></td>
								</tr>
							</tbody></table>
							<table class="center bordered"><tbody>
								<tr>
									<td title="50% des cotisations">Total à redistribuer</td>
									<td>Redistribution <small>({{ sum_contrib_redistr|money }} * {{ e.ratio_diff_contrib|money2 }})</small></td>
								</tr>
								<tr>
									<td>{{ sum_contrib_redistr|money }} €</td>
									<td><b>{{ e.redistr|money }} €</td>
								</tr>
							</tbody></table>
							<table class="center bordered"><tbody>
								<tr>
									<td>Caisse {{ page_month }}</td>
									<td>Moy. caisse {{ page_month }}</td>
									<td>Diff. caisse {{ page_month }}</td>
								</tr>
								<tr>
									<td>{{ e.prev_register|money }} €</td>
									<td>{{ e.prev_register_avg|money }} €</td>
									<td><b>{{ e.diff_register|money }} €</b></td>
								</tr>
							</tbody></table>
							<table class="center bordered"><tbody>
								<tr>
									<td>Redistribution</td>
									<td>- cotis.</td>
									<td>+ cotis. moy. /2</td>
									<td>± diff. caisse</td>
									<td>
										{% if e.needs < 0 %}
											= verse
										{% else %}
											= reçoit
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>{{ e.redistr|money }} €</td>
									<td>- {{ e.contrib|money }} €</td>
									<td>+ {{ avg_contrib_redistr|money }} €</td>
									<td>{{ e.diff_register|money }} €</td>
									<td>= <b>{{ e.needs|money_abs }} €</b></td>
								</tr>
							</tbody></table>
						</div>
					</details>
				</td>
			</tr>
		{% endfor %}
	</tbody></table>
{% endif %}

{% if month_contributions|count < nb_users %}
	<p class="warning">Tout le monde n'a pas encore déclaré en {{ page_month }}</p>
{% elseif warning_redistribution_left %}
	<p class="warning">Les redistributions doivent être finalisées</p>
{% else %}
	<p class="success">Équilibre atteint pour la redistribution</p>
{% endif %}


<h2>Paiements créés</h2>

{{ include('components/payments.html', {payments: payments_redistribution}) }}


<h2>Ajouter un paiement</h2>

{{ include('components/create-payment-form.html', {reason: 'redistribution'}) }}


{{ include('common/footer.html', {view_past: true}) }}

{% endautoescape %}
